/* 
Kätettäviä värejä:
1. #1A1A1A - tumman harmaa
2. #E2D64F - keltainen
3. #F1EBA7 - vaalean keltainen
4. #AFA31D - tumman keltainen
*/

body {
  background-color: #1A1A1A;
  color: snow;
  margin-bottom: 5rem;
  font-family: sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%px;
  border-top: 4px solid #1F1F1F;
  background-color: #1A1A1A;
}

h2 {
  color: #F1EBA7;
  text-align: center;
}

.infoTeksti {
  text-align: center;
}

.products {
  display: inline-block;
  margin-right: 2rem;
}

.addbutton {
  margin-top: 0.5rem;
}

.productLink {
  text-decoration: none;
  color: white;
}

.productLink:hover {
  color: lightblue;
}

/* Numeroinputin nuolet pois */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Mallia napille otettu netistä osoitteesta: https://codepen.io/ash_s_west/pen/GRZbvym */

.addbutton {
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
}

.addbutton:hover {
  transition-duration: 0.2s;
  background-color: #AFA31D;
}

.addbutton:after {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.2s;
  box-shadow: 0 0 5px 15px white;
}

.addbutton:active:after {
  box-shadow: 0 0 0 0 white;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all 0.2s;
}

.addbutton:active {
  top: 1px;
}